body {
  background-color: #292929;
  display: grid;
  place-content: center;
}

canvas {
  border: 4px solid #000;
  border-bottom: transparent;
  background: url('./bkg.png') no-repeat;
  background-position: -523px -20px;
  background-size: 2500px;
  margin: 50px auto;
  display: block;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}